<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pantry1">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pantry1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pantry1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".CatPickerDialog"
            android:exported="false" />
        <activity
            android:name=".ShoppingList"
            android:exported="false" />
        <activity
            android:name=".Baking"
            android:exported="false" />
        <activity
            android:name=".ThrowOutByScanner"
            android:exported="true" />
        <activity
            android:name=".BarcodeReader"
            android:exported="true" />
        <activity
            android:name=".Help"
            android:exported="true" />
        <activity
            android:name=".Bread"
            android:exported="true" />
        <activity
            android:name=".addCategory"
            android:exported="true" />
        <activity
            android:name=".Pantry"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>